$gray: #9e9a9a;
$blog-title: black;
$blog-text: rgb(20, 20, 20);
$black-text: black;

h1, h2, h3 {
    color: $gray;
    font-family: "Aguafina Script", sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    max-width: 400px;
}

.centered-text {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.blog-title {
    font-family: Sans-serif;
    color: $blog-text;
}

.blog-text {
    font-family: Sans-serif;
    color: $blog-text;
}

.black-text {
    color: $black-text;
}

div {
    border-color: black;
    border-style: solid;
}