h1, h2, h3 {
  color: #9e9a9a;
  font-family: "Aguafina Script", sans-serif; }

img {
  border-radius: 10px; }

.center {
  margin: auto;
  width: 50%;
  padding: 10px; }

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%; }

header .header-img {
  display: block;
  width: 45%;
  max-width: 200px;
  padding: 5%; }

header .header-title {
  margin: auto;
  text-align: right; }

.centered-text {
  text-align: center;
  vertical-align: middle; }

.black-text {
  color: black; }

.blog .blog-title {
  font-family: Sans-serif;
  color: #141414; }

.blog .blog-text {
  font-family: Sans-serif;
  color: #141414; }

/*
div {
    border-color: black;
    border-style: solid;
}
*/
