/*changed the a class to gray because it looks nicer in the footer with the gray fontawesome icons*/
a {
  color: #b8b8b8; }

img {
  border-radius: 10px; }

.center {
  margin: auto;
  width: 50%;
  padding: 10px; }

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%; }

.header-title {
  margin: auto;
  text-align: right;
  font-family: "Aguafina Script", sans-serif;
  color: #b8b8b8; }

/* This is temporary while the form has little enough content that the footer will creep.
So we'll keep it until we fix the footer or add enough content.*/
form {
  padding-top: 100px;
  padding-bottom: 400px; }

footer {
  padding-top: 50px; }

.centered-text {
  text-align: center;
  vertical-align: middle; }

.black-text {
  color: black; }

.blog-title {
  font-family: Sans-serif;
  color: black;
  padding-top: 100px; }

.blog-text {
  font-family: Sans-serif;
  color: black; }

.blog-img {
  display: block;
  width: 45%;
  max-width: 200px;
  padding: 5%; }

.navbar {
  font-weight: bold;
  background-color: #b8b8b8;
  opacity: .5; }

/* We ultimately decided that the bigbluequilt.jpg at the top of the page looks the best. For now. =) */
.jumbotron {
  margin: 0;
  background-image: url(../img/bigbluequilt.jpg); }

/* Chris used this to change all the social media icons in the footer to gray. Lookin' good! */
.fa {
  color: grey !important; }

/* This is specifically for diagnostics when a div acts up and doesn't display the way we expect it to.
Make sure it remains commented out in the push to the repo.

div {
    border-color: black;
    border-style: solid;
}
*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }
