a {
  color: #b8b8b8; }

img {
  border-radius: 10px; }

.center {
  margin: auto;
  width: 50%;
  padding: 10px; }

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%; }

header .header-img {
  display: block;
  width: 45%;
  max-width: 200px;
  padding: 5%; }

header .header-title {
  margin: auto;
  text-align: right;
  font-family: "Aguafina Script", sans-serif;
  color: #b8b8b8; }

footer {
  padding-top: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.centered-text {
  text-align: center;
  vertical-align: middle; }

.black-text {
  color: black; }

.blog-title {
  font-family: Sans-serif;
  color: black;
  padding-top: 100px; }

.blog-text {
  font-family: Sans-serif;
  color: black; }

.blog-img {
  display: block;
  width: 45%;
  max-width: 200px;
  padding: 5%; }

.navbar {
  font-weight: bold;
  background-color: #b8b8b8;
  opacity: .5; }

.jumbotron {
  margin: 0;
  background-image: url(../img/bigbluequilt.jpg); }

.fa {
  color: grey !important; }

/*
div {
    border-color: black;
    border-style: solid;
}
*/
